<ul id="todo-list">
  {{#each todo in this itemController="todo"}}
    <li {{bind-attr class="todo.isCompleted:completed todo.isEditing:editing"}}>
      {{#if todo.isEditing}}
        {{input
          type="text"
          class="edit"
          value=todo.model.title
          focus-out="acceptChanges"
          insert-newline="acceptChanges"
        }}
      {{else}}
        {{input type="checkbox" class="toggle" checked=todo.isCompleted}}
        <label {{action "editTodo" on="doubleClick"}}>{{todo.model.title}}</label><button {{action "removeTodo"}} class="destroy"></button>
      {{/if}}
    </li>
  {{/each}}
</ul>

{{input type="text" id="new-todo" placeholder="What needs to be done?"
  value=newTitle action="createTodo"}}
